<html>
<style>
body {
  background-image: url('https://bsmedia.business-standard.com/_media/bs/img/article/2020-10/02/full/1601658256-1914.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
<body>
<h1 >HEART DISEASE PREDICTION</h1>
<h2 > INTRODUCTION </h2>
<p >World Health Organization has estimated 12 million deaths occur worldwide, every year due to Heart diseases. 
Half the deaths in the United States and other developed countries are due to cardio vascular diseases. 
The early prognosis of cardiovascular diseases can aid in making decisions on lifestyle changes in high risk patients and in turn reduce the complications. 
This research intends to pinpoint the most relevant/risk factors of heart disease as well as predict the overall risk using logistic regression</p>
<h3 >SOURCE</h3>
<p >The dataset is publically available on the Kaggle website, and it is from an ongoing cardiovascular study on residents of the town of Framingham, Massachusetts. 
The classification goal is to predict whether the patient has 10-year risk of future coronary heart disease (CHD).The dataset provides the patients’ information. 
It includes over 4,000 records and 15 attributes.
</p>
<a href="{{ url_for('about')}}"> About
</a>
<div class = "space">
</div>

<a href="{{ url_for('index')}}">
<button type="button", class ="blue margin"> HeartPrediction 
</button>
</a>
<h4> The complete details about project is on: </h4>
<a href ="https://github.com/Sood-Akriti/Heart-Disease">Github</a>
</body>
</html>